<header>
  <nav>
    <h1>Restaurant</h1>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Products</li>
      <li>Contacts</li>
    </ul>
    <button>Sign In</button>
    <i (click)="showHide()" class="fa-solid fa-bars"></i>
  </nav>
  <nav [class.hidden]="isShow">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Products</li>
      <li>Contacts</li>
    </ul>
  </nav>
</header>

<h1 style="margin-top: 50px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nostrum officia, quas dignissimos totam voluptate
  illum exercitationem maxime culpa dolorem voluptas voluptates tempora recusandae fugit ratione accusamus dicta illo,
  officiis quisquam nisi. Sunt fugiat corrupti facere commodi aliquid, temporibus tenetur saepe reiciendis eveniet
  perspiciatis neque amet, sequi sed labore! Rerum aliquid odio asperiores! Nostrum exercitationem laudantium aliquam
  aut illo ab ad vitae voluptatem modi nam. Ipsam, totam, reprehenderit architecto praesentium provident harum quasi
  obcaecati fugiat temporibus exercitationem reiciendis quae placeat aperiam earum doloremque dignissimos. Harum ipsam
  fuga debitis. Quia voluptate tempora ab sed nostrum at suscipit, ipsum, magni animi, magnam minus tenetur officia!
  Illo molestias beatae voluptatem quas ipsum at officiis ea qui blanditiis excepturi. Ipsum ea animi, enim doloremque
  fuga placeat deleniti vel eligendi, dolores velit, quia nisi recusandae quibusdam voluptas. Quia esse ab veritatis
  suscipit magni necessitatibus deleniti odio impedit corporis blanditiis ea, dicta minima voluptate, id quod dolores
  molestias nesciunt, doloribus atque commodi! Ipsum harum temporibus dolorem, ratione doloremque nihil facere. Rem,
  atque? Facere expedita eveniet modi reprehenderit sequi exercitationem harum nemo ipsum deleniti sit ab nihil nulla
  voluptas necessitatibus voluptates dolorum, tempora vero accusamus itaque? Fuga dolores laboriosam ratione delectus
  alias temporibus beatae quasi! Consequatur, dolorum.</h1>